
<div class='panel panel-primary' *ngFor='let author of authors' style="float: left;border-style: double;padding: 10px;margin: 10px;
    height: 250px;width: 250px">
    <img class="authorImage" [src]='author.imageURL' 
    [style.width.px]='width'
    [style.heigth.px]='heigth'/><br/>
    Name : {{author.name}}<br/>
    Id : {{author.id | CovertDashToSpace:'-' }}<br/>
    Department : {{author.department}}<br/>
    Start Rating : <pm-star [rating]='author.starRating'></pm-star>
   <br/> <button type="button" [value]='author.name' (click)='getDetails($event)'>Get Details!</button>
</div>